.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: bisque;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.logo {

  &__title {}
}

.card {
  position: relative;

  &__img {
    width: 4rem;
    height: 4rem;
  }

  &__counter {
    display: inline-block;
    display: none;
    position: absolute;
    top: 60%;
    left: -10%;
    font-weight: 900;
    width: 2rem;
    height: 2rem;
    background-color: coral;
    border-radius: 50%;
    text-align: center;
    line-height: 193%;
  }

  &__counter-active {
    display: inline-block;
    position: absolute;
    top: 60%;
    left: -10%;
    font-weight: 900;
    width: 2rem;
    height: 2rem;
    background-color: coral;
    border-radius: 50%;
    text-align: center;
    line-height: 193%;
  }
}