body {
  background-color: grey;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {

  &__title {}
}

.card {
  position: relative;

  &__img {
    width: 4rem;
    height: 4rem;
  }

  &__counter {
    display: inline-block;
    display: none;
    position: absolute;
    top: 60%;
    left: -10%;
    font-weight: 900;
    width: 2rem;
    height: 2rem;
    background-color: coral;
    border-radius: 50%;
    text-align: center;
    line-height: 193%;
  }

  &__counter-active {
    display: inline-block;
    position: absolute;
    top: 60%;
    left: -10%;
    font-weight: 900;
    width: 2rem;
    height: 2rem;
    background-color: coral;
    border-radius: 50%;
    text-align: center;
    line-height: 193%;
  }
}