body {
  background-color: grey;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

ul {
  list-style: none;
}

@import 'header.scss';
@import 'filtrs.scss';
@import 'products.scss';
@import 'footer.scss';